@mixin mixin {
	display: flex;
	text-decoration: none;
}
$color_fondo: #1d1e2e;

html,
body {
	margin: 0;
	padding: 0;
	background-color: $color_fondo;
	color: #b3a098;
	
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}

.contenedor {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}


.menu {
	background-image: linear-gradient(to right, #b3a098 0%, $color_fondo 80%);
	background-color: #b3a098;
	padding-top: 5px;
	padding-bottom: 5px;
	display:flex;
	width: 100%;

    li{
        display: inline-block;
    }
}

.menu_section  {
	@include mixin;
	width: 100%;	
	margin-left: 0%;
}

.menu_bar {
    li a{
       @include mixin;
        color: $color_fondo;
        margin-right: 20px;
        padding: 2px;
        width: 100%;}

            &:hover{
                background-color: $color_fondo;
                color: #b3a098;
                width: 100%;
            }
}


.slider{
	width: 100%;
	margin: auto;
	overflow: hidden;

    ul {
        display: flex;
        padding: 0;
        width: 300%;
        animation: cambio 20s infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in;
    }
    li {
        width: 100%;
        list-style: none;
    }
    img {
        width: 100%;
    }
}


@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	100% {margin-left: -200%;}
}


.nosotros {
	background-color: $color_fondo;
	font-size: 20px;
	display: flex;
	flex: 1;
	flex-wrap: nowrap;
	width: 100%;
	column-gap: 80px;
	margin-bottom: 10%;

    img {
        display: flex;
        flex: 1;
    
    }
}

.nosotros_titulo {
	width: 100%;
	display: flex;
	flex: 1;
	flex-wrap: wrap;

    h1 {
        width: 100%;
        display: flex;
        flex: 1;
        font-size: 100px;
    }
}

.cuadro-nosotros{
	background-color: #b3a098;
	color: $color_fondo;
	padding-right: 160px;
}


.proyectos {
	width: 90%;
	margin: auto;
	margin-top: 100px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 200px 200px 200px 200px;
	grid-template-areas: "proyectouno proyectouno"
						"proyectodos proyectotres"
						"proyectodos proyectocuatro"
							"proyectocinco proyectocinco";

         > div {
            display: flex;
            align-items: stretch;
             background-color: $color_fondo;
                   }
            a {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: all 0.5s ease-in;
            &:hover {
                opacity: 0.5;
            }
        }
           
}

.proyectouno {
	grid-area: proyectouno;
}
.proyectouno a {
	background-image: url(../logos/proyectouno.png);
}

.proyectodos {
	grid-area: proyectodos;
}
.proyectodos a {
	background-image: url(../logos/proyectodos.png);
}

.proyectotres {
	grid-area: proyectotres;
}
.proyectotres a {
	background-image: url(../logos/proyectotres.png);
}

.proyectocuatro {
	grid-area: proyectocuatro;
}
.proyectocuatro a {
	background-image: url(../logos/proyectocuatro.png);
}

.proyectocinco {
	grid-area: proyectocinco;
}
.proyectocinco a {
	background-image: url(../logos/proyectocinco.png);
}


.premios {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 250px;
	justify-content: space-between;
	width: 100%;

    h1 {
        font-size: 70px;
        width: 100%;
        text-align: center;
    }
}


.pie {
	width: 100%;
	background-color: #b3a098;
	color: #1d1e2e;
	display: flex;
	flex-wrap: wrap;
	padding-top: 60px;
	align-items: center;
}
	
.pie,
.logo-pie,
.redes,
.pie_contacto {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	justify-content: space-around;
	align-items: stretch;
}

.pie_contacto {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}


.redes a {
	text-decoration: none;
	color: $color_fondo;
	font-size: 80px;
	vertical-align: middle;
	margin-top: 50px;

    :hover {
        transform: scale(1.5);
        transition: all 0.3s ease-in;
    }
}


.logo-pie img {
	width: 100%;
}



@media (max-width: 480px) {
	.nosotros {
		flex-wrap: wrap;
	}
}